body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background-color: #0f172a;
  color: white;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #020617;
  padding: 10px;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

section {
  padding: 80px 20px;
  min-height: 100vh;
}

body.light {
  background-color: white;
  color: black;
}

body.light nav {
  background: #e5e7eb;
}

body.light nav a {
  color: black;
}
@media (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav a {
    margin: 8px 0;
  }

  section {
    padding: 100px 15px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  nav a {
    margin-right: 10px;
  }

  section {
    padding: 90px 30px;
  }
}
/* ===== PROJECTS SECTION ===== */

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  margin-top: 30px;
}

.project-card {
  background-color: #020617;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #1e293b;
}

.project-card h3 {
  color: #38bdf8;
  margin-bottom: 10px;
}

.project-card p {
  margin-bottom: 8px;
  line-height: 1.5;
}
